.cut-in-img {
  border: 0.1rem solid $light;
  width: inherit;
  
}

.portrait-img {
  border: 0.2rem solid $gray-light;
  width: inherit;
  background-color: $gray;
}

.char-title {
  font-size: 2.7rem;
}

.char-title__bg {
  border-bottom: 0.2rem solid $highlight;
  padding: 0;
}

.type_icons {
  width: 3rem;
  background-color: $gray;
  border-radius: 50%;
  border: 0.2rem solid $gray-light;
  padding: 0.1rem;
}

.type_icons-d {
  width: 2rem;
  height: 2rem;
  // background-color: $gray;
  // border-radius: 50%;
  // border: 0.2rem solid $gray-light;
}

.type-txt {
  text-transform: capitalize;
  padding: 0.2rem;
}

.sub-title{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.9rem;
  background-color: $light;
  border-radius: 1.5rem;
}

.res_icons {
  width: 3.5rem;
  height: 3.5rem;
}


.w_icons {
  display: block;
  margin: auto;
  width: 3rem;
  height: 3rem;
}

.star-class{
  width: 1.7rem;
}

.mw-class {
  max-width: 63%;
}

.vl {
  border-left: 0.2rem solid ;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  // height: ;
}

.e-type {
  font-family: 'Seymour One', sans-serif;
  padding-left: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 1.2rem;
}

.main-e-color {
  color: #fa418e;
  background: -webkit-linear-gradient(bottom, #fd759b, #fa418e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-e-color {
  color: #50e06a;
  background: -webkit-linear-gradient(bottom, #a1f44b, #50e06a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.e-bg{
  text-align: center;
  margin-bottom: 0.4rem;
  width: 100%;
}

.ne-e {
  font-weight: bolder;
  width: 12%;
  padding-top: 0.4rem;
  margin: 0;
  font-size: 1.32rem;
}

.sub-e-title {
  margin-right: 10%;
}

.skill-tab {
  text-transform: none;
}

.icon-skill{
  width: 2.5rem;
  height: 2.5rem;
}

.icon-rank{
  width: 2rem;
  height: 2rem;
}

.icon-rank-plus{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.2rem;
}

.icon-range{
  height: 2.5rem;
}

.skill-in{
  margin: 0;
  padding: 0.2rem 1rem 0.2rem 1rem;
}

.ATK-color{
  padding-top: 0.7rem;
  color: #ff241f;
  background: -webkit-linear-gradient(bottom, #ff8d73, #ff241f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.INT-color{
  padding-top: 0.7rem;
  color: #ba49fa;
  background: -webkit-linear-gradient(bottom, #e08acf, #ba49fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.RES-color{
  padding-top: 0.7rem;
  color: #748ff4;
  background: -webkit-linear-gradient(bottom, #c4bcff, #748ff4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ne-n{
  margin: auto;
  text-align: center;
}

.full-img {
  width: 80%;
}

.img-icons{
  width: 12rem;
  padding: 0 1rem 0 1rem;
}