.rate-img {
  width: 3.8rem;
}

.rate-tr {
  border: solid 0.1rem $gray-light;
  padding: 0;
}

.nq-icon {
  width: 2rem;
}

.summon-list{
  width: 25%;
  padding: 0.2rem;
  @media screen and (max-width: $md) {
    width: 50%;
  }
}

.sumon-list_img {
  width: -webkit-fill-available;
  max-width: 25rem;
}