@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  text-shadow: 2px 2px black;
  background-color: $dark;
}

*{
  color: white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.highlight-2 {
  color: $highlight-2;
}

.is-active {
  font-weight: bold;
}

.p-0 {
  padding: 0;
}

.gray-bg {
  background-color: $gray;
  border-radius: 0.5rem;
  border: 0.2rem solid $gray-light;
}

.table-bordered td, .table-bordered th {
  border-radius: 0.5rem;
  border: 0.1rem solid $gray-light;
}

.table thead th {
  vertical-align: bottom;
  border-radius: 0.5rem;
  border: 0.2rem solid $gray-light;
}

.table td, .table th {
  padding: 0.5rem;
  vertical-align: top;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: none;
}

.star{
  width: 8%;
  height: 8%;
}

.main {
  display: table;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}


.hr {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  border: 0;
  border-top: 2px solid $gray-light;
}