// Colors
$dark: #212936;

$light: #303c50;

$dark-white: #efefef;

$highlight: #4A407C;
$highlight-2: #c08ac0;

$black: #080a09;
$gray: rgba(32, 33, 36, 0.9);
$gray-light: rgba(82, 82, 82, 0.9);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
